ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
}
/*Hero*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}
.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0;
    padding: 5px 100px;
    border: none;

}
.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
    
}
.secondary-text, a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    width: 150px;
}
.main {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding-top:20px ;
    padding-bottom: 80px;
}
.main-image {
    max-width:60%;
    height: auto;
}

.main .left-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;
}
.main .right-main {
    display: flex;
    justify-content: center;
    max-width: 30%;
}


/* Information*/
.figuras {
    background-color: #ebf4f5 ;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.solidos {
    background-color:#b5c6e0;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.politopos {
    background-color:#E5E7EB ;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.images {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 0 250px 80px;
    flex-wrap: wrap;
}
.illustration {
    width: 350px;
    height: auto;
    border-radius: 30px;

}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.information-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'roboto';
}

.subtext {
    max-width: 150px;
    font-size: 30px;
    color: #43470B;
    text-align: center;

}


/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px;
}






